<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059019203717-1ldr5t9h7sf3sqgpth1mdr7lis48pun8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059019203717-1ldr5t9h7sf3sqgpth1mdr7lis48pun8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059019203717-h71hkcc65vocpea2nmuh4vuojsj84fth.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_sFjD7bBg3_kUoJ6PiIKmSOSdxVDtAnY</string>
	<key>GCM_SENDER_ID</key>
	<string>1059019203717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bf1app</string>
	<key>PROJECT_ID</key>
	<string>bf1ap-8b0c6</string>
	<key>STORAGE_BUCKET</key>
	<string>bf1ap-8b0c6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059019203717:ios:26cb854487ad3d4d4575ec</string>
</dict>
</plist>